@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}




/* -------------------------------
-------------------navbar-nav-menu start */

.menu-container {
    display: flex;
    width: calc(100% - 80px);
    margin: 0px auto;
}

.navbar-nav-menu li a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbar-nav-menu li a:hover {
    color: #FFF;
}

.menu-button {
    background-color: #F8BC00;
    color: #262A45;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 150% */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
}

@media (max-width:768px) {
    .menu-button {
        display: none;
    }

}


/* -------------------------------
-------------------navbar-nav-menu end */



/* -------------------------------
-------------------main section */


.content-section h4 {
    color: #262A45;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content-section h6 {
    color: #EC691D;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.587px;
    /* 132.766% */
    margin-bottom: -5px;
}

.under-line {
    color: #EC691D;
}

.content-section input {
    width: 100%;
}

.content-section input[type=text] {
    border: none;
    outline: none;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    padding: 5px;
}

.text-input-fields {
    border-radius: 6px;
    border: 0.6px solid #CACACA;
    display: flex;
    padding: 5px;
}

.text-input-fields h6 {
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin-top: 6px;
}

.swap-btn {
    cursor: pointer;
}

.setting-stop-button {
    display: flex;
    justify-content: space-between;
}

.setting-stop-button h5 {
    color: #01223B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}



/* #new-fields */


#new-fields {
    display: none;
}


/* check-boxes */

.check-boxes {
    display: flex;
    justify-content: space-between;
}

.check-boxes-section h5 {
    color: #01223B;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.check-boxes input {
    /* width: auto !important; */
    width: 14px !important;
    height: 14px;
    margin-top: px;
    accent-color: #EC691D;
}

.check-boxes label {
    color: rgba(102, 102, 102, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin-left: 5px;

}


/* check-boxes-2 */

.check-boxes-2 {
    display: flex;
}

.check-boxes-section-2 h5 {
    color: #01223B;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.check-boxes-2 input {
    /* width: auto !important; */
    width: 14px !important;
    height: 14px;
    accent-color: #EC691D;
    margin-top: 2px;
}

.check-boxes-2 label {
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin-left: 5px;
}


/* set-date */


.set-date h5 {
    color: #01223B;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.set-date {
    border-bottom: 1px solid #ECEEF1;
    border-top: 1px solid #ECEEF1;
    background-color: #FAFAFA;
}

.set-date input {
    border: 0.6px solid #CACACA !important;
    border-radius: 6px;
    background: #FFF !important;
    outline: none !important;
    color: #666 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    padding: 10px 10px !important;
}

.note-text {
    border-radius: 5px;
    background: #FBE7DB;
    padding: 5px 5px 0px 5px;
}

.note-text p {
    color: #4D4D4D;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px;
}


/* price-text */


.price-text {
    color: #666;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* 171.429% */
    letter-spacing: -0.4px;
    margin-bottom: 8px;
}

.set-price input {
    border: 0.6px solid #CACACA !important;
    border-radius: 6px;
    background: #FFF !important;
    outline: none !important;
    color: #666 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    padding: 10px 10px !important;

}


/* range */


/* Styles for the range slider */
input[type="range"] {
    /* Set the background color */
    background: linear-gradient(to right, #F8BC00 0%, #F8BC00 50%, #FAFAFA 50%, #FAFAFA 100%);
    /* Remove default styles */
    border: none;
    outline: none;
    /* Set the dimensions */
    width: 100%;
    height: 13px;
    /* You can adjust the height as needed */
    accent-color: #F8BC00;
}

input[type="range"]::-webkit-slider-thumb {
    /* Set the color of the thumb */
    background-color: white;
    /* Set the dimensions of the thumb */

    /* Remove default styles */
    border: 7px solid #F8BC00;
    padding: 5px;
    outline: none;
    /* Add some shadow or other styles if desired */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}



.accommodation-plan {
    border-bottom: 1px solid #ECEEF1;
    border-top: 1px solid #ECEEF1;
    background-color: #FAFAFA;
}

.accommodation-plan p {
    color: #666;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
    font-weight: 400;
    /* 171.429% */
    letter-spacing: -0.4px;

}


.text-inputs {
    width: 30px !important;
    border-radius: 6px !important;
    border: 1px solid #EC691D !important;
    padding: 10px;
    text-align: center;
}

.text-inputs::placeholder {
    color: #000000;
    opacity: 0.3;


}


/* buttons-below */

.buttons-below button {
    padding: 15px 25px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background-color: #EC691D;
}

.buttons-below button:nth-child(1){
    margin-right: 15px;
    background-color: transparent !important;
    color: #666666 !important;
    border: 2px solid #666666 !important;
}
.buttons-below button:nth-child(1) a{
    color: #666666 !important;
}
.buttons-below button:nth-child(2) a{
    
    color: #FFF;
}


/* map */

.map-section iframe {
    width: 100%;
    height: 100%;
}



@media (max-width:768px) {
    .main-section-col-reverse {
        /* display: flex;
        flex-direction: column-reverse; */

    }

    .map-section iframe {
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

}

/* -------------------------------
-------------------main section end */